@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v17-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair-display-v39-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/playfair-display-v39-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Post No Bills Jaffna";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PostNoBillsJaffna-Bold.woff") format("woff2");
}

:root {
  --gray: #969696;
  --white: #fff;
  --light-gray: #d0d0d0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 24px;
}

body {
  background-color: #000;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: var(--gray);
  line-height: 1.5;
  margin: 0;
}
